@font-face {
  font-family: "OpenSans";
  src: url(../font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "OpenSans-text";
  src: url(../font/OpenSans-Light.ttf);
}

:root {
  --font-titulo: "OpenSans";
  --font-texto: "OpenSans-text";
  --cor-titulo: #fdff73;
  --cor-fundo: rgba(0, 0, 0, 0.5);
}

section {
  height: 100%;
  min-height: 640px;
  background-image: url(../img/image-01.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.menu-inicial {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: var(--font-texto);
  position: fixed;
  transition: all 0.3s ease;
}

header>ul {
  display: flex;
  width: 50vw;
}

.nav-item {
  position: relative;
  margin: 40px auto;
  box-sizing: content-box;
}

li {
  min-height: 48px;
  display: flex;
  align-items: center;
  margin-left: 60px;
  cursor: pointer;
  user-select: none;
  font-weight: bolder;
  font-family: var(--font-texto);
}

a {
  color: white;
  text-decoration: none;
}

.home {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo {
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: white;
}

.titulo>h1 {
  font-size: 3rem;
  font-family: var(--font-titulo);
}

.titulo>h2 {
  font-family: var(--font-texto);
}

.about {
  width: 100%;
  background-image: url(../img/image-02.jpg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--font-texto);
}

.flex-container {
  min-height: 560px;
  width: 400px;
  max-width: 480px;
  padding: 40px;
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--cor-fundo);
}

.flex-container>h2 {
  margin-bottom: 40px;
  color: var(--cor-titulo);
  font-family: var(--font-titulo);
  font-size: 1.8rem;
}

.flex-container>p {
  margin-bottom: 35px;
}

.flex-container-direito {
  margin-right: 150px;
}

.services {
  width: 100%;
  background-image: url(../img/image-03.jpg);
  font-family: var(--font-texto);
}

.testimonials {
  height: 517px;
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/image-04.jpg);
  font-family: var(--font);
}

.testimonials>h2 {
  margin-bottom: 40px;
  color: black;
  font-size: 2.2rem;
  font-family: var(--font-titulo);
}

.container-row {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  margin: 0px 15px;
  background-color: var(--cor-fundo);
  font-family: var(--font-texto);
}

p {
  color: white;
  font-size: 18px;
  line-height: 1.8;
}

i {
  margin-bottom: 40px;
}

.imagens {
  height: 400vh;
  max-width: 60px;
  max-height: 60px;
  display: flex;
  justify-content: space-around;
}

.contact {
  height: 85vh;
  width: 100%;
  background-image: url(../img/image-05.jpg);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: var(--font-texto);
}

.inputs {
  width: 350px;
  padding: .9rem 1.25rem;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
  font-size: 1.15rem;
  color: white;
  font-family: var(--font-texto);
}

img {
  height: 80px;
  width: 80px;
}

input[type="text"],
input[type="email"] {
  height: 20px;
}

button[type="submit"] {
  width: 9rem;
  padding: 1rem 2.1rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
  color: white;
  font-family: var(--font-texto);
  transition: all 0.3s ease;
}